In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('../Resources/diagnosis-of-covid-19-and-its-clinical-spectrum.csv')
dataset.tail()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
5639,ae66feb9e4dc3a0,3,positive,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,f,f,f,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dataset_new = dataset[['patient_id','patient_age_quantile','sars_cov_2_exam_result','leukocytes', 'platelets', 'monocytes', 'hematocrit', 'eosinophils', 'red_blood_cells', 'hemoglobin', 'lymphocytes', 'mean_platelet_volume']].copy()
dataset_new.head()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,leukocytes,platelets,monocytes,hematocrit,eosinophils,red_blood_cells,hemoglobin,lymphocytes,mean_platelet_volume
0,44477f75e8169d2,13,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,-0.09461,-0.517413,0.357547,0.236515,1.482158,0.102004,-0.02234,0.318366,0.010677
2,a46b4402a0e5696,8,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(len(dataset_new.index))

5644

In [15]:
dataset_new_filtered = dataset_new[dataset_new['sars_cov_2_exam_result'] == 'positive']
dataset_new_filtered.tail(100)

,patient_id,patient_age_quantile,sars_cov_2_exam_result,leukocytes,platelets,monocytes,hematocrit,eosinophils,red_blood_cells,hemoglobin,lymphocytes,mean_platelet_volume
5361,a495fa132dba01f,15,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5367,b8ab6ebdc192b8f,4,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5369,99dfd79ed298c6f,18,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5370,aa90a09b1cbd941,5,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5371,2bc073d3ff6058b,9,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5632,5c386388ba3c3f0,16,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5633,9f8dfe2ae239238,4,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5634,db77903261ab6d0,15,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5639,ae66feb9e4dc3a0,3,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,-1.288428,-0.906829,0.567652,0.694287,-0.835508,0.578024,0.541564,-0.295726,-0.325903